<footer  class="bg-secondary small">
  <div>
    <%= theme.customize.profile.author %> &copy; <%= date(new Date(), 'YYYY')
    %>
    <br />
    Powered by <a class="text-light" href="http://hexo.io/" target="_blank"> <u>Hexo</u></a> | Theme
    <u>wikitten</u> | Redesigned by <a href="http://szhshp.org/" class="text-light"><u>szhshp</u></a>
  </div>
</footer>
